<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../homeasset/css/style.css">
    <link rel="stylesheet" href="../homeasset/libraries/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"
      integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body class="everyThing">
    <nav>
        <div class="container">
            <div class="mainNav py-2">
                <a
                    href="#"
                    class="navbar-brand"
                    style="text-decoration: none; color: white"
                    >
                    <img src="../homeasset/images/IMG_9038.png" alt="" class="logo" />
                </a>

                <a href=""><i class=""></i></a>
            </div>
        </div>
    </nav>
    <!-- bottom tab -->
    <div class="bottomTabs fixed-bottom">
        <div class="container">
            <div class="mainTabs">
                <div class="home d-flex flex-column align-items-center" id="tab">
                    <a href="./index.html" class="d-flex flex-column align-items-center text-decoration-none">
                        <i class="las la-home"></i>
                        <p class="small">Home</p>
                    </a>
                </div>
                <div class="starting" id="tab">
                    <a href="/Starting Now/index.html" class="d-flex flex-column align-items-center text-decoration-none">
                        <img src="../homeasset/images/IMG_9086.png" alt="" style="width: 60px;">
                        <p class="small text-center">Starting</p>
                    </a>
                </div>
                <div class="Records d-flex flex-column align-items-center" id="tab">
                    <a href="" class="d-flex flex-column align-items-center text-decoration-none">
                        <i class="las la-book"></i>
                        <p class="small">Records</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- main Info -->
    <section class="mainInfo">
        <div class="container">
            <div class="main d-flex">
                <div class="row content gap-1 pb-3 pb-md-5">
                    <div class="d-flex profile">
                        <img src="../homeasset/images/IMG_9032-1.png" alt="" class="profilePic">
                        <div class="name mx-3">
                            <h4 class="mainName">Hi, JY0002A</h4>
                            <p class="welcome">Welcome Back</p>
                        </div>
                    </div>
                    <h2 class="col-8 fw-bolder">YOUR BUSINESSE. <br> YOUR MASSAGE.</h2>
                    <p class="col-8 small">WE'RE A FULL SERVICE DESIGN & DIGITAL GROWTH AGENCY</p>
                </div>
                <img src="../homeasset/images/tower.PNG" alt="" class="lady">
            </div>

            <div class="welcomeMessage">
                <div class="bell d-flex justify-content-center align-items-center">
                    <i class="las la-bell"></i>
                </div>
                <p class="mainMesssage">welcome to SiteScientist for any inquiries, please do not hesitate to contact Customer Care services</p>
            </div>
        </div>
    </section>

    <!-- informations -->
    <section class="infos">
        <div class="container">
            <div class="mainInfos">
                <div class="info">
                    <i class="las la-headphones-alt"></i>
                    <p class="small">Services</p>
                </div>
                <div class="info">
                    <i class="las la-bolt"></i>
                    <p class="small">Activity</p>
                </div>
                <div class="info">
                    <i class="las la-money-check-alt"></i>
                    <p class="small">Withdrawal</p>
                </div>
                <div class="info">
                    <i class="las la-money-check"></i>
                    <p class="small">Deposit</p>
                </div>
                <div class="info">
                    <i class="las la-file-alt"></i>
                    <p class="small">T & C</p>
                </div>
                <div class="info">
                    <i class="las la-certificate"></i>
                    <p class="small">Certificate</p>
                </div>
                <div class="info">
                    <i class="las la-question"></i>
                    <p class="small">FAQ</p>
                </div>
                <div class="info">
                    <i class="las la-sms"></i>
                    <p class="small">About</p>
                </div>
            </div>
        </div>
    </section>

    <!-- levels -->
    <section class="levels">
        <div class="container">
            <div class="levelContain">
                <div class="levelHeading py-3 d-flex justify-content-between">
                    <h6 class="fw-bold">Vip Levels</h6>
                    <div class="more d-flex g-2">
                        <h6 class="mx-2 align-self-center fw-bold">View More</h6>
                        <i class="las la-arrow-circle-right"></i>
                    </div>
                </div>

                <div class="mainLevels">
                    <div class="level" id="level1">
                        <img src="../homeasset/images/IMG_9033-1.png" alt="" class="crown">
                        <p>VIP1</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                        </ul>
                    </div>
                    <div class="level" id="level2">
                        <img src="../homeasset/images/IMG_9034-1.png" alt="" class="crown">
                        <p>VIP2</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                        </ul>
                    </div>
                    <div class="level" id="level3">
                        <img src="../homeasset/images/IMG_9035-1.png" alt="" class="crown">
                        <p>VIP3</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                        </ul>
                    </div>
                    <div class="level" id="level4">
                        <img src="../homeasset/images/IMG_9036-1.png" alt="" class="crown">
                        <p>VIP4</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sit.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="rights d-flex mb-5">
            <p class="mx-auto my-5 small">2023 Site Impactsouthreviews. All rights reserved.</p>
        </div>
        
    </section>
</body>
</html>