
.body-bg {
  background: #edf2ff;
  background-image: url(../homeasset/images/img/BG-sidebar.png);
  /* position: fixed; */
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* /* background-position: 0 0; */
}

@media screen and (max-width: 500px) {
  .body-bg {
    background: #edf2ff;
    background-image: url(../homeasset/images/img/BG-sidebar.png);
    /* position: fixed; */
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.navbar{
    background-color: skyblue;
    color: #000;
    
}

a:-webkit-any-link{
    text-decoration: solid;
}

#my-nav{
    display: flex;
}

#my-nav a{
    padding: 0 5px;
}

.navbar a {
    text-decoration: none;
    color: #000;
}
.card hr{
    background: black;
}

.card .list-group-item{
    background: transparent;
    color: #000;
} 
.card .list-group-item a{
    
    color: #000;
} 

.body-bg .card {
  background-color: white;
    color: #112;
    border: #112 solid 1px;

}

.body-bg .card .card-header {
  background-color: rgb(30, 119, 146);
  /*background-color: whitesmoke;*/
  border-bottom: white 2px solid;
  color: white;


}

input[type=range] {
    border: azure solid;
    -webkit-appearance: none;
    background: white;
    margin: 20px 0;
    padding: 0px;
    width: 100%;
}
  input[type=range]:focus {
    outline: d;
    outline-style: groove;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: blue;
    border-radius: 25px;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: skyblue;
    box-shadow: 0 0 2px 0 green;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #03a9f4;
  }

  
  .profile-title{
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  .profile-value{
    color: wheat;
    font-size: 17px;
  }

  .range-wrap{
    width: auto;
    margin-top: 5px;
    position: relative;
  }
  .range-value{
    color: white;
    position: absolute;
    top: -50%;
  }
  .range-value span{
    width: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background:white;
    color:blue;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
  }
  .range-value span:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #03a9f4;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
  }